<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/application.css">
    <title>Robot World</title>
  </head>
  <body>
    <h4 href="/robots">Robots</h4>
    <h4 href="/robots" method="post">New Robot</h4>
  </body>
</html>
